.nhsuk-breadcrumb {
    padding-top: 0 !important;
    background: #fff;
    border: none;
}

.leftProgressPadding {
    padding: 50px;
}

.completed-radio input[type="radio"] + label::before {
    border-color: #007f3b;
    background-color: #007f3b;
}

.completed-radio input[type="radio"]:checked + label::after {
    background: none;
    box-shadow: none;
}

.radio-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tick {
    color: #007f3b;
    font-weight: bold;
    margin-left: 10px;
}



.nhsuk-header {
    background-color: var(--nhsuk-header-bg, #005eb8) !important; /* fallback to NHS Blue */
}

.nhsuk-back-link {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    color: #005eb8;
    font-size: 1.1875rem;
    line-height: 1.31579;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 24px;
    font-family: inherit;
}

.nhsuk-back-link__arrow {
    font-size: 1.5em;
    margin-right: 8px;
    line-height: 1;
}

.nhsuk-back-link:focus {
    outline: 3px solid #ffeb3b;
    outline-offset: 2px;
}

.nhsuk-back-link:hover {
    text-decoration: underline;
}

.accessibility-img-link,
.accessibility-img-link:focus,
.accessibility-img-link:active,
.accessibility-img-link:hover {
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: inherit !important;
}

.accessibility-icon-link {
    position: static;
}

.accessibility-img {
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s;
    will-change: transform, box-shadow;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border-radius: 50%;
}

.accessibility-img-link:hover .accessibility-img,
.accessibility-img-link:focus .accessibility-img {
    transform: scale(1.2) rotate(-6deg);
    box-shadow: 0 6px 18px rgba(0,0,0,0.16);
}

.grecaptcha-badge {
    z-index: 1;
    width: 256px;
    height: 60px;
    display: block;
    transition: right 0.3s, bottom 0.3s;
    position: fixed;
    bottom: 10px !important;
    right: -186px;
    box-shadow: gray 0px 0px 5px;
    border-radius: 2px;
    overflow: hidden;
}
.nhsuk-button--small {
    font-size: 0.875rem;
    padding: 0.25em 1em;
    min-width: unset;
    min-height: 2rem;
    margin:0;
    margin-right:10px;
}


/* Remove display: flex and flex-wrap from .custom-col-spacing */
.custom-col-spacing > [class^="col-"],
.custom-col-spacing > [class*=" col-"] {
    margin-bottom: 2rem; /* vertical spacing on mobile */
}

@media (min-width: 768px) {
    .custom-col-spacing > [class^="col-"],
    .custom-col-spacing > [class*=" col-"] {
        margin-bottom: 0;
        margin-right: 2rem; /* horizontal spacing between columns */
    }

    .custom-col-spacing > [class^="col-"]:last-child,
    .custom-col-spacing > [class*=" col-"]:last-child {
        margin-right: 0;
    }
    .custom-col-spacing {
        padding-left: 0px !important;
    }
}

.custom-col-spacing {
    padding-left: 10px !important;

}

/* Add this to your CSS file if the NHSUK CSS is not being applied */
.nhsuk-button-blue {
    background-color: #005eb8;
    color: #fff;
    border: none;
}

.nhsuk-button-blue:hover,
.nhsuk-button-blue:focus {
    background-color: #003087;
    color: #fff;
}

.nhsuk-button-blue:active {
    background-color: #002d72;
    color: #fff;
}



.test-env-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 20px;
    background: #222;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
}

.header-padding-top{
    padding-top:20px;
}

.test-env-banner small {
    color: #fff;
    font-size: 0.70em;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    font-weight: 500;
    word-break: break-word;
}

@media (max-width: 600px) {
    .test-env-banner {
        min-height: 40px;
        padding: 0.5rem 0.5rem;
    }

    .test-env-banner small {
        font-size: 0.50em; // Smaller text for mobile
        padding: 0 0.2em;
    }
    .header-padding-top {
        padding-top: 20px;
    }
}


.nhsuk-card__heading--feature {
    background: #004F69 !important;
}



